<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Twitter?</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style2.css">
</head>

<body>
    
  <section class="main-header">
    <img src="<%= asset_path "Twitter.jpg" %>">
  </section>
  
  <section class="about">
    <p>
    　twitterに似せた練習用アプリ
    </p>
  </section>
  
</body>
</html>